@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
  font-family: "Tektur", cursive;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background: linear-gradient(to right, #0c1713, #171a21);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: #7f8482;
  color: white;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  color: black;
  background-color: #558564;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: black;
  font-size: 1.5rem;
}

.output .current-operand {
  color: black;
  font-size: 2.5rem;
}

@media only screen and (max-width: 450px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
  }
}

@media only screen and (max-width: 350px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 4.5rem);
    grid-template-rows: minmax(5rem, auto) repeat(5, 5rem);
  }
}